<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url"  >jdbc:mysql://localhost:3307/clinica_veterinaria?</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password" >usbw</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="Mapeos/Animal.hbm.xml"/>
    <mapping resource="Mapeos/Persona.hbm.xml"/>
    <mapping resource="Mapeos/Producto.hbm.xml"/>
    <mapping resource="Mapeos/Cita.hbm.xml"/>
    <mapping resource="Mapeos/Factura.hbm.xml"/>
    <mapping resource="Mapeos/Diagnostico.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
